
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
/* #mypic{
    height: 80vh;
} */

.heromain{
    position: relative;
    height: 90vh;
}

.herocont{
    padding: 2rem;
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 8rem;
    z-index: 2;
}


@media (max-width: 500px) {
    .herocont{
        width: 100vw;
        overflow: hidden;
        padding-left: 0.5rem;
    }

    .middle{
        position: relative;
        height: 25rem;
    }
    #mypic{
        position: absolute;
    }
}



@media (min-width: 768px) {


   
    
.left{
    
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}


.greeting{

    padding:2rem;
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.04);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 500;
    margin-top: 5rem;
}

.github{
    /* height: 30vw; */
    height: 8rem;
    /* margin-top: 10rem; */

}

.mern{
    
        font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    

    padding:2rem;
    width: 40vw;
    margin-top: 12rem;
    height: fit-content;
    background-color: #FEFCBF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 500;
    border-radius: 10px 40px 16px;
    margin-left: 4rem;
}

}


@media (max-width: 780px) {
    
    .herocont{
        flex-direction: column;
        /* background-color: red; */
    }

    .greeting{
        
        padding:2rem;
        width: 50vw;
        /* margin-top: 12rem; */
        height: fit-content;
        background-color: #FEFCBF;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        font-weight: 500;
        border-radius: 10px 40px 16px;
        /* margin-left: 4rem; */
    }

    .mern{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;

        padding:2rem;
        width: 50vw;
        margin-top: 4rem;
        height: fit-content;
        background-color: rgb(0, 0, 0, 0.04);
        box-shadow: rgba(50, 50, 61, 0.2) 0px 7px 29px 0px;
        font-weight: 500;
        border-radius: 10px 40px 16px;
        margin-left: 9rem;
    }

    .left{
        display: flex;
        margin-top: 2rem;
    }



}



.mern {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    /* margin-top: 5px; */
}
.greeting {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    /* margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}
