.Introcont{
    height: 100vh;
    width: 100vw;
    /* padding-top: 1rem; */
    display: flex;

}

.leftint{
    margin-top: 4rem;
    width: 50%;
}

.rightint{
    margin-top: 4rem;
    width: 40%;
    text-align: left;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.imgcont{
    height: 30rem;
    width: 30rem;
    margin: auto;
    margin-top:5rem;
    overflow: hidden;
    margin-left: 13rem;
}

#desc{
    color: rgb(92, 92, 92)
}



.imgcont {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px; */
    /* margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}


@media (max-width: 768px) {
    .leftint{
        display: none;
    }

    .rightint{
        margin:auto;
        width: 80vw;
    }
}



/* From Uiverse.io by Madflows */ 
.button12 {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 15rem;
  }
  
  .button12:hover::before {
    transform: scaleX(1);
  }
  
  .button12-content {
    position: relative;
    z-index: 1;
  }
  
  .button12::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  